.aside {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.aside .browser {
	color: #f0f0f0;
	align-self: flex-start;
	font-weight: 900;
	font-size: 1.2rem;
}
.aside .browser:hover {
	color: #f5c518;
	cursor: pointer;
}

.aside .upnext {
	color: #f5c518;
	font-weight: 700;
	font-size: 1.1rem;
	align-self: flex-start;
}

.nextContainer {
	width: 100%;
	height: 85%;
	background-image: linear-gradient(180deg, #121212, #000000);
}
.nextContainer ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}
.nextContainer ul li {
	width: 100%;
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}
