.container {
	width: 100vw;
	height: 33rem;
	background: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .selectedMovie {
	width: 55%;
	height: 85%;
}

.container .asideBar {
	width: 25%;
	height: 100%;
}
