.btn {
	width: auto;
	height: auto;
	min-height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}
.btn label {
	cursor: pointer;
	color: #f0f0f0;
}
.hl-yellow label {
	font-weight: 700;
}
.hl-yellow {
	background: linear-gradient(90deg, #121212, #3c3c3c);
}
.hl-yellow:hover {
	background: linear-gradient(90deg, #cba314, #f5c518);
}
.hl-yellow:hover label {
	color: #121212;
}
