.main-container {
	width: 100%;
	height: 100%;
	flex-direction: column-reverse;
	cursor: pointer;
	background-image: linear-gradient(180deg, #12121200, #000000, #000000);
}

.movie-container {
	height: 100%;
	width: 100%;
	display: flex;
}

.container-img {
	height: 100%;
	width: 25%;
	overflow: hidden;
	display: flex;
	margin-left: 25px;
}
.movie-img {
	width: auto;
	object-fit: cover;
	overflow: hidden;
}
.play-icon {
	width: 10%;
	align-self: center;
	margin-right: 15px;
	color: #f0f0f0;
}
.description-container {
	height: 80%;
	width: 65%;
	align-self: flex-end;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	user-select: text;
}
.title {
	color: #f0f0f0;
	font-size: 2rem;
	font-weight: 400;
}
.desc {
	color: #a3a3a3;
	margin-top: 20px;
	height: 30%;
	font-size: 1.1rem;
	font-weight: 500;
}

.main-container:hover .play-icon {
	color: #f5c518;
}

.animation-rigth {
	animation: iniright 0.3s ease-in-out;
	transform: translateX(0);
}
@keyframes iniright {
	0% {
		opacity: 0;
		transform: translateX(550px);
	}
	100% {
		opacity: 100;
		transform: translateX(0);
	}
}
.animation-left {
	animation: inileft 0.3s ease-in-out;
	transform: translateX(0);
}
@keyframes inileft {
	0% {
		opacity: 0;
		transform: translateX(-550px);
	}
	100% {
		opacity: 100;
		transform: translateX(0);
	}
}
