.list-movies {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	gap: 2rem 0rem;
}
.list-movies li {
	width: 12rem;
	height: 15rem;
	position: relative;
}
.list-movies li:hover {
	outline: 2px solid#f5c518;
	box-shadow: 0 1px 18px 10px #f5c51821;
}
