/*     


COLORS ----------------------------------
#1e1e1e
#2d2d2d
#3c3c3c
---------
#000000 -main

#121212 -secondary
#f5c518


searchBar----------------------------------

color:#3c3c3c-inputs




LETTERS----------------------------------
color: #fff;
color:#4d4d4d-inputs
color: #a3a3a3;
#dbdbdb;

ICONS----------------------------------

color: #4d4d4d;
color: #fff;
color: #f0f0f0;





*/
