.nav {
	background: #121212;
	height: 3rem;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.button-logo {
	height: 95%;
	width: 8rem;
	border-radius: 6px;
	overflow: hidden;
	display: flex;
	align-items: center;
	border: none;
	cursor: pointer;
}

.button-logo .logo {
	object-fit: cover;
	max-width: 100%;
	transform: scale(1.5);
}
.button-logo .logo:hover {
	transform: scale(1.65);
	transition: 0.5s;
}
